<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{page.title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

{{> common}}
<style type="text/css">
    .lead {
        color: #006;
    }
        #sidebar-wrapper{
        background: #002;
    }
    a.nohover:hover {
        cursor: default;
        color: #999999 ! important;
        background: #002 ! important;
    }

</style>

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
<!--                <li class="sidebar-brand"><a href="#">Contents</a>
                </li> -->
                <li><a href="index.html">About</a>
                <ul>
                    <li><a href="publication.html">Publication</a></li>
                    <li><a href="presentation.html">Presentations</a></li>
                </ul>
                </li>
                <li><a  class='nohover' href="#">Interests</a>
                <ul>
                    <li><a href="signaling.html">Cell signaling</a></li>
                    <li><a href="nanobio.html">Nano/bio interface</a></li>
                    <li><a href="molecularmachine.html">Molecular machine</a></li>
                    <li><a href="programming.html">Programming </a></li>
                </ul>
                </li>
                <li><a href="skills.html">Skills</a>
                <li><a href="contact.html">Contact</a>
                <li><a class='nohover' href="#">&nbsp;</a></li>
                <li><small><a class='lang' href="./{{page.name}}.html">English</a> / <a class='lang' href="./{{page.name}}.ja.html">Japanese</a></small></li>
                </li>
            </ul>
        </div>

        <!-- Page content -->
        <div id="page-content-wrapper">
            {{> body}}
        </div>

    </div>

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

    <!-- Custom JavaScript for the Menu Toggle -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
    </script>
</body>

</html>
