---
title: 合成分子機械・高分子材料
layout: default.ja.hbs
name: chemistry
---
<div class="content-header">
    <h1>
        <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
        合成分子機械・高分子材料
    </h1>
</div>
<!-- Keep all page content within the page-content inset div! -->
<div class="page-content inset">
    <div class='row'>
        <img src="img/nanobio.jpg" height='220px' style='margin: -20px -50px 0px -20px;'>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="lead">
                光を照射すると溶液中で連動してねじれ運動を起こす「超分子機械」の開発や、天然の糖質（でんぷんやセルロース）由来のバイオプラスチックの開発に取り組んできました。
            </p>
        </div>
        <div class="col-md-6">
            <h3>超分子機械</h3>
            <img src="img/machine.jpg" width="300" height="200"><br>
            タンパク質は、分子の動きを精密に制御することで洗練された機能を発揮する生体分子機械です。それに触発され、有機合成的に設計された複数のパーツを分子間相互作用によって連動させ、光異性化の機械的な動きを遠隔に伝える合成分子機械を構築しました（H. Kai et al., <a href='http://pubs.acs.org/doi/abs/10.1021/ja801646b'>JACS 2008</a>）。
        </div>
        <div class="col-md-6">
            <h3>高分子材料</h3>
            <img src="img/stub.png" width="300" height="200"><br>
            ポリ乳酸を強靭化するナノフィラーや、セルロース樹脂にカルダノールを化学修飾することで熱可塑性を付与したバイオプラスチックの開発を行いました。
        </div>
    </div>
</div>