---
title: Supramolecular and polymer chemistry
layout: default.hbs
name: chemistry
---
<div class="content-header">
    <h1>
        <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
        Supramolecular and polymer chemistry
    </h1>
</div>
<!-- Keep all page content within the page-content inset div! -->
<div class="page-content inset">
    <div class='row'>
        <img src="img/nanobio.jpg" height='220px' style='margin: -20px -50px 0px -20px;'>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="lead">
                I developed functional molecules and materials based on organic chemistry.
            </p>
        </div>
        <div class="col-md-6">
            <h3>Supramolecular machine</h3>
            <img src="img/machine.jpg" width="300" height="200"><br>
            Proteins in the body function by coordinating the shapes of associating subunits in response to external stimuli. Inspired by that, we developed a synthetic supramolecular machine that coordinates the movement of associating units upon photoirradiation (H. Kai et al., <a href='http://pubs.acs.org/doi/abs/10.1021/ja801646b'>JACS 2008</a>).
        </div>
        <div class="col-md-6">
            <h3>Bioplastics</h3>
            <img src="img/stub.png" width="300" height="200"><br>
            We developed bioplastics and nanofillers that strengthen them.

        </div>
    </div>
</div>