---
title: Contact
layout: default.ja.hbs
name: contact
---

<div class="content-header">
    <h1>
        <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
        連絡先
    </h1>
</div>
<!-- Keep all page content within the page-content inset div! -->
<div class="page-content inset">
    <div class="row">
        <div class="col-md-12">
            <div>
                甲斐洋行 (Hiroyuki Kai) <br>
                東北大学　工学研究科　機械・知能系<br>
                <br>
                Email: hk.biomems[at]gmail[dot]com<br>
                Phone: +81-22-795-3586
            </div>
        </div>
    </div>
</div>