---
title: Contact
layout: default.hbs
name: contact
---

<div class="content-header">
    <h1>
        <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
        Contact
    </h1>
</div>
<!-- Keep all page content within the page-content inset div! -->
<div class="page-content inset">
    <div class="row">
        <div class="col-md-12">
            <div>
                Hiroyuki Kai <br>
                Department of Chemistry<br>
                424 Stanley Hall<br>
                University of California, Berkeley 94720<br>
                USA<br>
                Email: hkai at berkeley edu<br>
                Phone: +1-520-684-0412
            </div>
        </div>
    </div>
</div>