---
title: Contact
layout: default.hbs
name: contact
---

<div class="content-header">
    <h1>
        <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
        Contact
    </h1>
</div>
<!-- Keep all page content within the page-content inset div! -->
<div class="page-content inset">
    <div class="row">
        <div class="col-md-12">
            <div>
                Hiroyuki Kai <br>
                Division of Mechanical Engineering<br>
                Tohoku University<br>
                Japan<br>
                <br>
                Email: kai[at]tohoku[dot]ac[dot]jp<br>
                Phone: +81-22-795-3586
            </div>
        </div>
    </div>
</div>