---
title: 外部研究資金 - 甲斐洋行
layout: default.ja.hbs
name: grants
---
<div class="content-header">
    <h1>
        <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
        外部研究資金
    </h1>
</div>
<!-- Keep all page content within the page-content inset div! -->
<div class="page-content inset">
    <div class="row">
        <div class="col-md-12">
            <h3 id='plan'>科研費</h3>
            <ol class='grant' reversed>
                <li>2017-2018年度 科研費 若手(B)「皮膚生体情報のマルチモーダル計測のための微小針アレイの開発」（代表）</li>
            </ol>
            <h3 id='plan'>財団助成金</h3>
            <ol class='grant' reversed>
                <li>田中貴金属記念財団 2018年度「貴金属に関わる研究助成金」萌芽賞「多孔質マイクロニードル電極の開発と高精度経皮投薬への応用」（代表）</li>
                <li>2018年度 中谷医工計測技術振興財団 技術開発研究助成【奨励研究】「皮膚上の微小流体制御による汗成分センサの開発」（代表）</li>
                <li>2018年度 花王科学奨励賞「親水性の階層的パターニングによる汗収集フィルムの開発」（代表）</li>
            </ol>
            <h3 id='plan'>受託研究費・学内グラント</h3>
            <p>主なものを以下に記載</p>
            <ol class='grant' reversed>
                <li>2019年度 COI若手連携研究ファンド「タンパク質製剤の安心安全な利用を実現するポータブル・ウェアラブル計測・品質管理デバイスの開発」（共同代表）</li>
                <li>2018年度 COI若手連携研究ファンド 若手デジタルFS「科学実験の効率を劇的に向上するための実験自動記録・実験計画支援・ラボオートメーション手法の探索」（代表）</li>
                <li>2018年度 COI若手連携研究ファンド 若手デジタルFS「地域コミュニティで「育てる」ローカルモビリティを支援するためのデジタル技術」（共同代表）</li>
                <li>2018年度 東北大学附置研究所若手アンサンブルグラント（第一ステージ）「足を護りセンシングするアフリカ地下足袋の協創に関する研究」（分担）</li>
                <li>2018年度 COI若手連携研究ファンド「皮膚組織液による皮膚がん診断・薬剤投与パッチの開発」（共同代表）</li>
                <li>2017年度 COI若手連携研究ファンド「細胞外ATPを指標とする皮膚がん診断・薬剤投与パッチの開発」（共同代表）</li>
            </ol>
            <p>その他5件 </p>
        </div>
    </div>
</div>