---
title: 甲斐洋行
layout: default.ja.hbs
name: index
---
<div class="content-header">
    <h1>
        <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
        Hiroyuki Kai <span style='font-size: 21px'>甲斐 洋行</span>
    </h1>
</div>
<!-- Keep all page content within the page-content inset div! -->
<div class="page-content inset">
    <div class="row">
        <div class="col-md-12">
            <img src="img/welcome.jpg" width='105%' style="margin: -20px -50px 0px -20px;"><br>
            <p class="lead">生体応用を志向した材料科学者です。幅広いバックグラウンドを持ち、材料・情報・生物の分野融合研究に興味があります。</p>

            <h3>現在の所属</h3>
            東北大学工学研究科機械・知能系　西澤・梶研究室　特任助教（2015年4月より）<br>

            <h3>現在の研究</h3>
                電気化学・材料科学をベースとした、皮膚貼り付け型センサ等の開発

            <h3>過去の研究</h3>
            <ul>
                <li>ナノ加工した材料を用いる、T細胞シグナリングの時空間制御のイメージング研究</li>
                <li>分子の動きを遠隔に伝える超分子機械の作製</li>
                <li>熱可塑性樹脂の機械特性を向上させる自己組織化ナノフィラーの開発</li>
                <li>セルロースとカルダノールからなる熱可塑性樹脂の開発</li>
            </ul>

            <h3>経歴</h3>
            <ul>
                <li>2015-: 東北大学工学研究科西澤研究室　特任助教</li>
                <li>2010-2015: カリフォルニア大学バークレー校化学科大学院。PhD in Chemistry（指導教官：Jay T. Groves教授）</li>
                <li>2008-2010: 日本電気ナノエレクトロニクス研究所</li>
                <li>2006-2008: 東京大学大学院工学系研究科化学生命工学専攻　修士課程（指導教官：相田卓三教授）</li>
                <li>2002-2006: 東京大学工学部化学生命工学科　学士課程</li>
            </ul>
            <h3>査読付き論文</h3>
            <ul class='researcher-id'>
              <li>
                ORCID: <a href="http://orcid.org/0000-0002-3544-9196">0000-0002-3544-9196</a>
              </li>
              <li>
                ResearcherID: <a href="http://www.researcherid.com/rid/H-8704-2015">H-8704-2015</a>
                <span id='badgeCont794084' style='width:26px'><script src='http://labs.researcherid.com/mashlets?el=badgeCont794084&mashlet=badge&showTitle=false&className=a&rid=H-8704-2015&size=small'></script></span>                  </li>
              </li>
              <li>
                Scopus Author ID: <a href="http://www.scopus.com/authid/detail.uri?authorId=56763601000">56763601000</a>
              </li>
            </ul>
            <span style='margin-left: 20px;'>（&#x2021;は共同筆頭著者）</span>
            <ol class='publication' reversed>
                {{#each publication}}
                <li>{{{paper .}}}</li>
                {{/each}}
            </ol>
            <h3>学会発表</h3>
            <ol class='publication' reversed>
                {{#each presentation}}
                <li>{{.}}</li>
                {{/each}}
            </ol>
        </div>
    </div>
</div>
