---
title: Hiro Kai's website - Welcome
layout: default.hbs
name: index
---

<head>
    <style type="text/css">
        body {
            overflow-x: hidden;
        }

        .photo-annotation {
            text-align: right;
            margin-top: -20px;
        }

    </style>
</head>

<div class="content-header">
    <h1>
        <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
        Hiroyuki Kai
    </h1>
</div>

<div class="page-content inset">
    <div class="row">
        <div class="col-md-12">
            <img src="img/welcome.jpg" width='105%' style="margin: -20px -50px 0px -20px;"><br>
            <div class="photo-annotation">View from Santorini, Greece.</div>
            <section class="lead">
                Welcome to Hiro Kai's website!<br>Taking advantage of materials chemistry, I develop a wearable patch that interacts with living skin.
            </section>
            <section id='affiliation'>
                <h3>Current affiliation</h3>
                Matsuhiko Nishizawa Group in Division of Mechanical Engineering, Tohoku University (from April, 2015).<br>
            </section>
            <section id='research'>
                <h3>Current topic of research</h3>
                    Development of flexible biosensors based on materials science and electrochemistry.
            </section>
            <section id='research-past'>
                <h3>Past topics of research</h3>
                <ul>
                <li>Spatiotemporal dynamics of juxtacrine signaling of T cells using (1) live-cell fluorescence microscopy and (2) nanofabricated materials.</li>
                <li>Supramolecular machines for remote transmission of molecular motion.</li>
                <li>Nanofillers for toughening thermoplastics.</li>
                <li>Thermoplastics made from cellulose derivatives and cashew extract.</li>
                </ul>
            </section>
            <section id='experience'>
                <h3>Education and experience</h3>
                <ul>
                    <li>2015-: Research Assistant Professor, Department of Engineering, Tohoku University.</li>
                    <li>2010-2015: Graduate Student Researcher, Department of Chemistry, University of California, Berkeley. PhD in Chemistry.</li>
                    <li>2008-2010: Researcher, Nanoelectronics Laboratory, NEC Corporation.</li>
                    <li>2006-2008: Department of Chemistry and Biotechnology, The University of Tokyo (Master of Engineering)</li>
                    <li>2002-2006: Department of Chemistry and Biotechnology, The University of Tokyo (Bachelor of Engineering)</li>
                </ul>
            </section>

            <section id='grant'>
                <h3>Research grants</h3>
                <ol class='grant' reversed>
                    <li>2017 Tohoku University Research Institutes Ensemble Grant for Young Researchers.</li>
                    <li>2017-2018 JSPS Grant-in-Aid for Young Scientists (B): &quot;Development of multiplexed microneedle array for vital sensing on skin.&quot;</li>
                    <li>2017 COI research grant for collaborative research by young researchers.</li>
                </ol>
            </section>            
        </div>
    </div>
</div>
