---
title: 甲斐洋行
layout: default.ja.hbs
name: index
---

<head>
    <style type="text/css">
        body {
            overflow-x: hidden;
        }

        .photo-annotation {
            text-align: right;
            margin-top: -20px;
        }
    </style>
</head>


<div class="content-header">
    <h1>
        <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
        Hiroyuki Kai <span style='font-size: 21px'>甲斐 洋行</span>
    </h1>
</div>
<!-- Keep all page content within the page-content inset div! -->
<div class="page-content inset">
    <div class="row">
        <div class="col-md-12">
            <img src="img/welcome.jpg" width='105%' style="margin: -20px -50px 0px -20px;"><br>
            <div class="photo-annotation">ギリシャ サントリーニ島からの眺め</div>
            <p class="lead">材料化学をベースにし、皮膚と密接に相互作用するウェアラブルデバイスへと展開しています。</p>

            <p>ニュース：　<a href="http://www.katahira-f.tohoku.ac.jp/special.html">片平まつり2019</a>で発表します（10月12日）</p>

            <h3>所属</h3>
            東北大学材料科学高等研究所（AIMR）助教（Y.P.Chen-Kumatani Group）（2019年4月より）<br>

            <h3>研究内容</h3>
            有機材料化学に立脚した，皮膚貼り付け型センサ・治療デバイスのための材料開発と生体応用

            <h3>過去の研究内容</h3>
            <ul>
                <li>ナノ加工した材料を用いる、T細胞シグナリングの時空間制御のイメージング研究</li>
                <li>分子の動きを遠隔に伝える超分子機械の作製</li>
                <li>高強度バイオプラスチックと自己組織化添加剤の開発</li>
            </ul>

            <h3>経歴</h3>
            <ul>
                <li>2019-: 東北大学材料科学高等研究所（AIMR） 助教</li>
                <li>2015-2019: 東北大学工学研究科ファインメカニクス専攻　特任助教（西澤松彦教授 研究室）</li>
                <li>2010-2015: カリフォルニア大学バークレー校化学科大学院。PhD in Chemistry（指導教官：Jay T. Groves教授）</li>
                <li>2008-2010: 日本電気ナノエレクトロニクス研究所</li>
                <li>2006-2008: 東京大学大学院工学系研究科化学生命工学専攻　修士課程（指導教官：相田卓三教授）</li>
                <li>2002-2006: 東京大学工学部化学生命工学科　学士課程</li>
            </ul>
            <section id='award'>
                <h3>受賞</h3>
                <ol class='award' reversed>
                    <li>2019年6月 第5回東北大学若手研究者アンサンブルワークショップ ポスター賞</li>
                    <li>2019年3月 田中貴金属記念財団 2018年度「貴金属に関わる研究助成金」萌芽賞「多孔質マイクロニードル電極の開発と高精度経皮投薬への応用」</li>
                    <li>2018年7月 第4回東北大学若手研究者アンサンブルワークショップ ポスター賞</li>
                    <li>2018年6月 Biosensors &amp; Bioelectronics Best Paper Award 2018 Runner Up "Organic electrochromic
                        timer for enzymatic skin patches"</li>
                    <li>2018年5月 化学とマイクロ・ナノシステム学会 第37回研究会 優秀研究賞</li>
                    <li>2018年3月 花王芸術・科学財団 花王科学奨励賞「親水性の階層的パターニングによる汗収集フィルムの開発」</li>
                </ol>
            </section>
        </div>
    </div>
</div>