---
title: Molecular machines
layout: default.hbs
name: molecularmachine
---
            <div class="content-header">
                <h1>
                    <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
                    Synthetic molecular machines
                </h1>
            </div>
            <!-- Keep all page content within the page-content inset div! -->
            <div class="page-content inset">
                <div class='row'>
                    <img src="img/machine.jpg" height='220px' style='margin: -20px -50px 0px -20px;'>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="lead">
                            Inspired by biological molecular machines that work by precisely coordinated movements, a synthetic molecular machine with multiple parts was assembled by noncovalent interactions to achive remote transmission of molecular motion (Kai, et al. <a href='http://pubs.acs.org/doi/abs/10.1021/ja801646b'>JACS 2008</a>).
                        </p>
                    </div>
                </div>
            </div>