---
title: Nano/bio interface
layout: default.hbs
name: nanobio
---
<div class="content-header">
    <h1>
        <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
        Interface between nanostructures and live cells
    </h1>
</div>
<!-- Keep all page content within the page-content inset div! -->
<div class="page-content inset">
    <div class='row'>
        <img src="img/nanobio.jpg" height='220px' style='margin: -20px -50px 0px -20px;'>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="lead">
            Nanomaterials can be tailored to match the dimensions of signaling assemblies on the cell surface. I use top-down and bottom-up approaches to fabricate micro/nanostructures (40 nm-10 µm), and combine them with a supported lipid bilayer (SLB) to reveal spatiotemporal behavior of signaling assemblies on the T cell membrane.
            </p>
        </div>
        <div class="col-md-6">
            <h3>Diffusion barrier by metal grids</h3>
            <img src="img/chrome.png"><br>
            <p>Normally, individual molecules on a SLB can diffuse freely in two dimensions. You can, however, confine the diffusion of molecules in a limited area by drawing metal grids (line width: 80 nm, height: 5 nm, side of each grid: 500 nm-several hundreds of µm) by photo- and ebeam- lithographies. This setup will inhibit lateral transport of receptor/ligand complexes formed at the interface between a live cell and the SLB. This is useful for studying the effect of cluster formation and transport behavior of receptors on the downstream signaling of the cell.</p>
        </div>
        <div class="col-md-6">
            <h3>Gold nanoparticles</h3>
            <img src="img/nanodot.jpg"><br>
            <p>Self-assembly of micelles on the glass substrate gives a regular array gold nanoparticles with controlled interparticle distances (40 nm-180 nm). While the difussion barrier by metal grids confines all the lipids and proteins into the limited area, these nanoparticles do not confine them. When the clusters of proteins are big enough compared to the interparticle distance of nanoparticles, the transport of the clusters is blocked. Using this technology, you can observe and manipulate the dynamic behavior of signaling clusters (Caculitan, Kai, Liu, et al. <a href="http://pubs.acs.org/doi/abs/10.1021/nl404514e"><i>Nano Lett.</i>&nbsp;2014</a>).</p>
        </div>
    </div>
</div>