---
title: 学会発表 - 甲斐洋行
layout: default.ja.hbs
name: presentation
---
<div class="content-header">
    <h1>
        <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
        学会発表
    </h1>
</div>
<!-- Keep all page content within the page-content inset div! -->
<div class="page-content inset">
    <div class="row">
        <div class="col-md-12">
            <h3 id='plan'>発表予定</h3>
         <p>自分で行う発表のみを表記</p>
        <ul class='publication' reversed>
            <li>2018年11月30日 <a href="https://iconm.kawasaki-net.ne.jp/event/coi_retreat/speaker.html">COIリトリート in 川崎</a>（川崎生命科学・環境研究センター（LiSE））<br>「体液の効率的な取得・分析を目指したウェアラブル材料・デバイスの開発」</li>
            <li>2018年12月18日 09:00-09:15 第28回日本MRS年次大会 （北九州国際会議場） <a href="https://www.mrs-j.org/meeting2018/jp/prg/programList_oral.php?id=F-3">F3-O19-003</a><br>「蛍光グルコースセンサを一体化した多孔質樹脂マイクロニードル」</li>
            <li>2018年12月19日 15:30-15:45 第28回日本MRS年次大会 （北九州国際会議場） <a href="https://www.mrs-j.org/meeting2018/jp/prg/programList_oral.php?id=B-5">B5-O19-008</a><br>「貼付型乳酸センサの作製と皮膚模倣環境での評価」</li>
            <li>2019年&nbsp;&nbsp;3月&nbsp;&nbsp;4日 16:50-17:40 <a href="http://res.tagen.tohoku.ac.jp/~polymer/event/19ev01.html">平成30年度東北地区先端高分子セミナー</a>（仙台秋保温泉岩沼屋）<br>「新たな経皮インターフェイスのための高分子材料・デバイス」（招待講演）</li>
            </ul>

            <h3>発表</h3>
         <p>自分で行った発表のみを表記。日本語表記と英語表記が混在しており、整理中です。</p>
        <ol class='publication' reversed>
            {{#each presentation_ja}}
            <li>{{{presentation .}}}</li>
            {{/each}}
        </ol>
        </div>
    </div>
</div>


