---
title: 学会発表 - 甲斐洋行
layout: default.ja.hbs
name: presentation
---
<div class="content-header">
    <h1>
        <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
        学会等の発表
    </h1>
</div>
<!-- Keep all page content within the page-content inset div! -->
<div class="page-content inset">
    <div class="row">
        <div class="col-md-12">
            <h3 id='plan'>発表予定</h3>
            <p>自分で行う発表のみを表記。</p>
            <ul class='publication' reversed>
                <li>To be announced.</li>
            </ul>

            <h3>発表</h3>
            <p>自分で行った発表のみを表記。</p>
            <div>
                <button class='btn btn-sm btn-default active' data-toggle="button" id='oral'>口頭発表</button>
                <button class='btn btn-sm btn-default active' data-toggle="button" id='poster'>ポスター発表</button>
                <button class='btn btn-sm btn-default active' data-toggle="button" id='outreach'>展示会・アウトリーチ</button>
            </div>
            <ol class='publication' reversed>
                {{#each presentation_ja}}
                {{{presentation .}}}
                {{/each}}
            </ol>
        </div>
    </div>
</div>