---
title: 学会発表 - 甲斐洋行
layout: default.ja.hbs
name: presentation
---
<div class="content-header">
    <h1>
        <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
        学会発表
    </h1>
</div>
<!-- Keep all page content within the page-content inset div! -->
<div class="page-content inset">
    <div class="row">
        <div class="col-md-12">
            <h3 id='plan'>発表予定</h3>
            <p>自分で行う発表のみを表記</p>
            <ul class='publication' reversed>
                <li>（To be announced）</li>
            </ul>

            <h3>発表</h3>
            <p>自分で行った発表のみを表記。日本語表記と英語表記が混在しており、整理中です。</p>
            <ol class='publication' reversed>
                {{#each presentation_ja}}
                <li>{{{presentation .}}}</li>
                {{/each}}
            </ol>
        </div>
    </div>
</div>