---
title: 論文 - 甲斐洋行
layout: default.ja.hbs
name: publication
---
<div class="content-header">
    <h1>
        <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
        査読付き論文
    </h1>
</div>
<!-- Keep all page content within the page-content inset div! -->
<div class="page-content inset">
    <div class="row">
        <div class="col-md-12">
          <ul class='researcher-id'>
            <li>Google Scholar Profile: <a href="https://scholar.google.co.jp/citations?user=1ARpHr0AAAAJ">1ARpHr0AAAAJ</a></li>
            <li>
              ORCID: <a href="http://orcid.org/0000-0002-3544-9196">0000-0002-3544-9196</a>
            </li>
            <li>
              Publons Author ID: <a href="https://publons.com/a/1236077">1236077</a>
            </li>
            <li>
              Scopus Author ID: <a href="http://www.scopus.com/authid/detail.uri?authorId=56763601000">56763601000</a>
            </li>
          </ul>
          <span style='margin-left: 20px;'>（&#x2021;は共同筆頭著者。<sup>*</sup>は責任著者。）</span>
          <ol class='publication' reversed>
              {{#each publication}}
              <li>{{{paper .}}}</li>
              {{/each}}
          </ol>            
        </div>
    </div>
</div>


