---
title: T細胞シグナリング
layout: default.ja.hbs
name: signaling
---
<div class="content-header">
    <h1>
        <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
        T細胞シグナリング
    </h1>
</div>
<!-- Keep all page content within the page-content inset div! -->
<div class="page-content inset">
    <div class='row'>
        <img src="img/tcr.jpg" height='220px' style='margin: -20px -50px 0px -20px;'>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="lead">
                T細胞活性化の過程はシグナル分子の時空間的挙動によって制御されています。Supported lipid bilayer (SLB) と蛍光顕微鏡を用い、T細胞受容体（TCR）や関連分子のダイナミクスを観察しています。
            </p>
            <h3>T細胞初期シグナリングの概要</h3>
            <p>T細胞は獲得免疫系で抗原認識を担う細胞であり、抗原提示細胞（antigen presenting cell; APC）が提示する外敵由来のペプチドを高選択的・高感度に認識することができます。TCRは数十残基からなるペプチドのわずか一残基の違いさえ認識し、最終的な応答の劇的な差につながります。このため、T細胞のシグナリングのメカニズム解明に興味が持たれています。</p>

            <h3>TCRのミクロクラスター形成</h3>
            <img src="img/pathway.svg" style='max-width: 500px'>
            <p>T細胞の高性能な抗原認識能を支える機構の一つとして考えられているのが、TCRが抗原を認識した際に形成するミクロクラスターです。クラスター形成によってTCRを不活性化する脱リン酸化酵素が物理的に排除され、TCRのリン酸化が促進される「サイズ排除モデル」などが提案されています。</p>

            <h3>Supported lipid bilayer (SLB)</h3>
            <p>脂質分子のベシクルを清浄なガラス基板上に接触させることで、平面状の脂質二重膜がガラス上に形成されます。これはSupported lipid bilayer (SLB)と呼ばれています。SLB内の脂質分子は２次元的に自由に拡散でき、また脂質分子の官能基を利用して選択的にタンパク質を付加することができるので、抗原提示細胞の細胞表面を代替する人工細胞膜として細胞間シグナリングの研究に利用しています。SLBは表面のタンパク質の構成・濃度を自由にコントロールできる、TIRFと呼ばれる高感度な蛍光顕微鏡の手法を利用できる、といった長所があります。</p>

            <h3>この分野の総説論文</h3>
            <ul>
                <li>Kaushik Choudhuri, Michael L Dustin; &quot;Signaling microdomains in T cells.&quot; <i>FEBS Lett.</i>, <b>584,</b> 4823-31 (2010).</li>
                <li>P Anton van der Merwe, Omer Dushek; &quot;Mechanisms for T cell receptor triggering.&quot; <i>Nat. Rev. Immunol.</i>, <b>11,</b> 47-55 (2010).</li>
                <li>David R Fooksman, et al.; &quot;Functional anatomy of T cell activation and synapse formation.&quot; <i>Annu. Rev. Immunol.</i>, <b>28,</b> 79-105 (2010).</li>
            </ul>
        </div>
    </div>
</div>