---
title: Epidermal interfaces 
layout: default.hbs
name: skininterface
---


 <div class="content-header">
    <h1>
        <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
        Skin interface
    </h1>
</div>
<!-- Keep all page content within the page-content inset div! -->
<div class="page-content inset">
    <div class='row'>
        <img src="img/nanobio.jpg" height='220px' style='margin: -20px -50px 0px -20px;'>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="lead">
                Skin is the largest organ in the body. I develop soft materials and devices that efficiently interact with skin to gather and manipulate vital conditions.
            </p>
        </div>
        <div class="col-md-6">
            <h3>Porous microneedles</h3>
            <img src="img/microneedles.jpg"><br>
            The microneedle array is a two-dimensional array of small needles, and it is a potentially useful tool for analysis of subcutaneous interstitial fluid as well as drug delivery in a minimally invasive manner. We develop a microneedle array made of a porous polymer monolith that enables efficient sampling of the interstitial fluid (L. Liu et al., <a href='http://pubs.rsc.org/en/content/articlelanding/2016/ra/c6ra07882f'>RSC Advances 2016</a>).
        </div>
    </div>
</div>