<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <!--Sidebar content-->
      <p><small>最終データ更新：2014/10/5.</small></p>
      キーワード： <input ng-model="query">
      表示順：
      <select ng-model="orderProp">
        <option value="period">締め切り（近&#8594;遠）</option>
        <option value="period_rev">締め切り（遠&#8594;近）</option>
        <option value="date">更新日（新&#8594;旧）</option>
        <option value="date_rev">更新日（旧&#8594;新）</option>
      </select>
      <h4>分野</h4>
      <ul class='leftul'>
        <li>
          <input type="checkbox" ng-model='allgenres' ng-click='allgenresToggle()' id='allgenres'><label for='allgenres'>すべて選択／解除</label>
          </li>
          <li><hr></li>
        <li ng-repeat='g in genres' class='float'>
          <input type="checkbox" ng-model='g.selected' id='{{g.id}}'><label for='{{g.id}}'>{{g.name}}</label>
        </li>
        <div style='clear:both;'></div>
      </ul>

      <div>
      <h4>職位</h4>
      <ul class='leftul'>
        <li>
          <input type="checkbox" ng-model='alltitles' ng-click='alltitlesToggle()' id='alltitles'><label for='alltitles'>すべて選択／解除</label>
          </li>
          <li><hr></li>
            <li ng-repeat='t in titles'>
          <input type="checkbox" ng-model='t.selected' id='{{t.id}}'><label for='{{t.id}}'>{{t.name}}</label>
        </li>
   </ul>
      </div>
      </div>
    <div class="col-md-9">
      <!--Body content-->
      <div id='righttop'>
      <small><a href="https://github.com/hirokai/JobPosting">Source code</a></small><br><br>
<div class="fb-like" data-href="https://hirokai.github.io/jrec-in" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
      </div>

<div id='topinfo'>
      <p>{{filtered.length}}件見つかりました</p>
      <button class='btn btn-default' ng-click='prevPage()' ng-disabled='currentPage==1'>Prev</button>
      <span>{{currentPage}} / {{ceil(filtered.length / 50)}}</span>
      <button class='btn btn-default' ng-click='nextPage()' ng-disabled='currentPage>=ceil(filtered.length / 50)'>Next</button>  
</div>
      <ul class='phones'>
        <li ng-repeat="phone in filtered = (phones | filter:query | filter: selectGenre | filter: selectTitle) | orderBy:orderFunc | startFrom: (currentPage-1)*50 | limitTo: 50"
            ng-click='showDetail(this)'
            ng-class="{thumbnail: true, 'phone-listing': true, detail: showing == phone.id}"
              >
<!--          <a href="https://jrecin.jst.go.jp/seek/SeekJorDetail?id={{phone.id}}">{{phone.subject}}</a> -->
          <a href="#/phones/{{phone.id}}">{{phone.subject}}</a>
          <p>{{phone.title.join('／')}} &#64; {{phone.institution}}（{{phone.place}}）</p>
          <p>公開：{{formatDate(phone.date)}}　期限：{{formatDate(phone.period[1])}}（残り{{remaining(phone)}}日）</p>
          <p>分野：
              <span ng-repeat='p in phone.genre'>{{p}}. </span></p>
          <div class='preview' ng-if='showing == phone.id' ng-controller='PhonePreviewCtrl'>
            <h4>求人内容</h4>
            {{phone.description}}
            <h4>応募資格</h4>
            {{phone.qualification}}
            <h4>応募・選考・結果通知・連絡先</h4>
            {{phone.process}}
          </div>
        </li>
      </ul>

    </div>
  </div>
</div>
