<ul>
    <li>Organic synthesis
        <ul>
            <li>Synthetic design of pi-conjugated molecules</li>
            <li>Various reactions in the scales from 1 mg to 100 g</li>
            <li>Purification (column chromatography, HPLC, SEC, etc.)</li>
        </ul>
    </li>

    <li>Micro/nanofabrication
        <ul>
            <li>Photolithography</li>
            <li>E-beam lithography</li>   
            <li>Focused ion beam</li>
            <li>Metal deposition</li>
        </ul>
    </li>

    <li>Characterization
        <ul>
            <li>NMR</li>
            <li>UV-Vis, IR</li>
            <li>Circular dichroism</li>
            <li>SEM</li>

        </ul>
    </li>

    <li>Molecular and cell biology
        <ul><li>Primary T cell culture</li>
            <li>Retroviral transduction</li>
            <li>Immunostaining</li>
            {{! <li>Molecular cloning</li> }}
        </ul>
    </li>

    <li>Biological imaging
        <ul>
            <li>TIRF microscopy</li>
            <li>Confocal microscopy</li>

        </ul>
    </li>

    <li>Programming
        <ul>
            <li>Various programming languages (Scala, Haskell, JavaScript, C/C++, Matlab, Ruby, Python, Java, etc.)</li>
            <li>Image and data analysis (scipy, OpenCV, scikit-learn, Halide, etc.)</li>
            <li>Automation of experiment by scripting</li>
            <li>Web app development (Play! framework, AngularJS, Meteor, etc.)</li>
            <li>Data visualization (D3.js)</li>
        </ul>
    </li>
</ul>