<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <!--Sidebar content-->
      <h1>JREC-IN検索</h1>
      <p><small>最終データ更新：2014/12/25.</small></p>
      <div><a ng-click='resetAllSettings()' class='btn btn-danger'>全設定をリセット</a></div>
      タイトル絞込： <input ng-model="query"><br>
      表示順：
      <select ng-model="orderProp">
        <option value="period">締め切り（近&#8594;遠）</option>
        <option value="period_rev">締め切り（遠&#8594;近）</option>
        <option value="date">更新日（新&#8594;旧）</option>
        <option value="date_rev">更新日（旧&#8594;新）</option>
      </select>
        <tabset>
    <tab heading="分野・職種検索" active='$parent.normalSearchMode' ng-click='toggleGridMode(false)'>
      <p>分野（複数選択&#8594;いずれかに適合）<br>
      &times; 職種（複数選択&#8594;いずれかに適合）</p>
      <h5>分野 <span class='glyphicon glyphicon-chevron-down pointer' ng-click='toggleGenre()'></span></h5>
      <ul class='leftul' ng-hide='hiddenGenre'>
        <li>
          <input type="checkbox" ng-model='$parent.allgenres' ng-click='allgenresToggle()' id='allgenres'><label for='allgenres'>すべて選択／解除</label>
          </li>
          <li><hr></li>
        <li ng-repeat='g in genres' class='float'>
          <input type="checkbox" ng-model='g.selected' id='{{g.id}}'><label for='{{g.id}}'>{{g.name}}</label>
        </li>
        <div style='clear:both;'></div>
      </ul>

      <h5>職種 <span class='glyphicon glyphicon-chevron-down pointer' ng-click='toggleTitle()'></span></h5>
      <ul class='leftul' ng-hide='hiddenTitle'>
        <li>
          <input type="checkbox" ng-model='$parent.alltitles' ng-click='alltitlesToggle()' id='alltitles'><label for='alltitles'>すべて選択／解除</label>
          </li>
          <li><hr></li>
            <li ng-repeat='t in titles'>
          <input type="checkbox" ng-model='t.selected' id='{{t.id}}'><label for='{{t.id}}'>{{t.name}}</label>
        </li>
   </ul>
    </tab>
        <tab heading="グリッド検索" active='$parent.gridMode' ng-click='toggleGridMode(true)'>
      検索条件：
      <span ng-if='!gridCondition'>何も選択されていません</span>
      <table class='table smalltable'  ng-if='gridCondition'>
        <thead>
          <tr>
          <th>{{axisName[gridCondition.xaxis]}}</th>
          <th>{{axisName[gridCondition.yaxis]}}</th>
        </tr>
          </thead>
        <tbody>
            <tr ng-repeat='sel in gridCondition.selected'>
              <td>{{sel.x}}</td>
              <td>{{sel.y}}</td>
            </tr>
        </tbody>
      </table>
      <a ng-href='#/grid' class='btn btn-primary'>条件選択</a>
    </tab>

  </tabset>


      </div>
    <div class="col-md-9">
      <!--Body content-->
      <div id='righttop'>
<div class="fb-like" data-href="http://hirokai.github.io/jrecin/#/grid" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
      </div>

<div id='topinfo'>
      <p>{{filtered.length}}件見つかりました</p>
      <button class='btn btn-default' ng-click='prevPage()' ng-disabled='currentPage==1'>Prev</button>
      <span>{{currentPage}} / {{ceil(filtered.length / 50)}}</span>
      <button class='btn btn-default' ng-click='nextPage()' ng-disabled='currentPage>=ceil(filtered.length / 50)'>Next</button>  
</div>
      <ul class='phones'>
        <li ng-repeat="phone in filtered = (phones | filter:filterRecord | filter: query) | orderBy:orderFunc | startFrom: (currentPage-1)*50 | limitTo: 50"
            ng-click='showDetail(this)'
            ng-class="{thumbnail: true, 'phone-listing': true, detail: showing == phone.id}"
              >
<!--          <a href="https://jrecin.jst.go.jp/seek/SeekJorDetail?id={{phone.id}}">{{phone.subject}}</a> -->
          <a href="#/jobs/{{phone.id}}">{{phone.subject}}</a>
          <p>{{phone.title.join('／')}} &#64; {{phone.institution}}（{{phone.place.join(',')}}）</p>
          <p>更新日：{{formatDate(phone.date)}}　期限：{{formatDate(phone.period[1])}}（残り{{remaining(phone)}}日）</p>
          <p>分野：
              <span ng-repeat='p in phone.genre'>{{p}}. </span></p>
          <div class='preview' ng-if='showing == phone.id' ng-controller='PhonePreviewCtrl'>
            <h4>求人内容</h4>
            {{phone.description}}
            <h4>応募資格</h4>
            {{phone.qualification}}
            <h4>応募・選考・結果通知・連絡先</h4>
            {{phone.process}}
          </div>
        </li>
      </ul>

</div>
  </div>
</div>
