<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <!--Sidebar content-->
      <h1>JREC-IN 検索</h1>

      <a class='btn btn-primary' ng-click='goList()'>選択された求人を表示</a>

      X軸：
     <select ng-model="xaxis">
        <option value="genre">分野</option>
        <option value="title">職種</option>
        <option value="place">都道府県</option>
        <option value="institution">研究機関</option>
        <option value="datestr">更新日</option>
        <option value="deadlinestr">締切日</option>
      </select>
      <span class='pointer' ng-click='switchAxes()'>&#8644;</span>
            Y軸：
     <select ng-model="yaxis">
        <option value="genre">分野</option>
        <option value="title">職種</option>
        <option value="place">都道府県</option>
        <option value="institution">研究機関</option>
        <option value="datestr">更新日</option>
        <option value="deadlinestr">締切日</option>
      </select>

            <div style='float:right'><a ng-click='resetAllSettings()' class='btn btn-danger'>全設定をリセット</a></div>

      <!--
      第3軸：
     <select ng-model="zaxis">
        <option value="genre">分野</option>
        <option value="title">職種</option>
        <option value="place">都道府県</option>
        <option value="institution">研究機関</option>
        <option value="date">更新日</option>
        <option value="deadline">締切日</option>
      </select>

      表示順：
      <select ng-model="orderProp">
        <option value="period">締め切り（近&#8594;遠）</option>
        <option value="period_rev">締め切り（遠&#8594;近）</option>
        <option value="date">更新日（新&#8594;旧）</option>
        <option value="date_rev">更新日（旧&#8594;新）</option>
      </select>
    -->
  
    <p>クリックで選択（&#8594;赤く表示）。再度クリックで選択解除。</p>


      <div id='righttop'>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://hirokai.github.io/jrecin/#/grid" data-text="JREC-IN 検索">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <div class="fb-like" data-href="http://hirokai.github.io/jrecin/#/grid" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
      </div>

      </div>
    </div>
    <div class='row'>
    <div class="col-md-12">
      <!--Body content-->

    <table class='table smalltable'>
      <thead>
        <tr>
          <th></th>
          <th ng-repeat='kx in xkeys'>{{kx}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='ky in ykeys'>
          <td>{{ky}}</td>
          <td ng-class='{statcell: true, selected: cellSelected(kx,ky)}' ng-click='toggleSelected(kx,ky)' ng-repeat='kx in xkeys'>{{content(kx,ky)}}</td>
        </tr>

      </tbody>
    </table>
<hr>
<footer>最終データ更新：2014/10/15. <span><a href="https://github.com/hirokai/JobPosting">Source code</a></span></footer>
    </div>
  </div>
</div>
